{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block title %}Search Results{% endblock %}

{% block content %}
{% spaceless %}
<div class="col-md-12 mt-4">
  <div class="col-md-8 post-details">
    <h1 class="card-title d-flex justify-content-between">
        <span>Search Results: "{{search_term}}"</span>
    </h1>
    <div class="post-list">
        {% for post in results.posts %}
        <div class="media post mb-2">
            {% if post.author.avatar %}
              <img width="40" src="{{post.author.avatar}}" class="rounded-circle mr-3"/>
            {% else %}
              <img width="40" src="{% static "icons/person.svg" %}" class="rounded-circle mr-3"/>
            {% endif %}
            <div class="media-body">
            <h3>
              <div class="post-title">
                  {% if post.parent_post %}
                    <a href="{% url 'post' post.parent_post.id post.parent_post.slug %}#post-{{post.id}}">{{ post.parent_post.title }}</a>
                  {% else %}
                    <a href="{% url 'post' post.id post.slug %}">{{ post.title }}</a>
                  {% endif %}
              </div>
              <small class="post-metadata text-muted">
                  by <a href="{% url 'profile' post.author.id %}">{{ post.author }}</a> |
                  <a href="{% url 'group_home' post.group.id %}">{{post.group.name}}</a> |
                  last activity {{ post.last_activity  }}
              </small>
              
              <div><small>
                  {{post.snippet | safe}}
              </small></div>
            </h3>
            </div>

          </div>
        {% endfor %}
    </div>
  </div>
</div>
{% endspaceless %}
{% endblock %}

